.autocomplete-input__options {
	display: flex;
	flex-direction: column;
	width: 262px;
	max-height: 250px;
	border-radius: 4px;
	border: 1px solid;
	border-image: linear-gradient(to right, rgba(255, 199, 0, 1), rgba(165, 232, 112, 1)) 1;
	border-top-style: none;
	overflow-y: auto;

	&::-webkit-scrollbar {
		width: 12px;
	}

	&::-webkit-scrollbar-track {
		background: #ffffff;
	}

	&::-webkit-scrollbar-thumb {
		background-color: #a8a8a8;
		border-radius: 10px;
		border: 3px solid #ffffff;
	}
}